{% extends "base.html" %}
{% block head %}
<h1>Applicants</h1>
{% endblock %}
{% block content %}
    <!-- Main container for the content -->
<main>
    <div class="container">
        <!-- Main heading of the page -->
        <h3>About Competitions</h3>
        <!-- First paragraph about organizing competitions -->
        <p>
            To further support the community in helping aspiring artists find a place to start their career, we also want to organize competitions where aspiring artists can perform and compete.
        </p>
        <!-- Second paragraph about benefits and feedback from competitions -->
        <p>
            These competitions can build the confidence of artists as they are performing to audiences and judges. Through these competitions, experts and the audience can provide feedback to the artist, which allows them to improve and try again the next time we organize a competition. Winners of this competition can get the opportunity to work with us.
        </p>
        <!-- Third paragraph about how to participate in competitions -->
        <p>
            People who are interested can sign up through our website using a form that will be announced before we organize a competition. People can get to know about the competition through notifications.
        </p>
        <!-- Subheading for features -->
        <h3>Features:</h3>
        <!-- List of features of the competitions -->
        <ul>
            <li>Form for people to sign up for competitions</li> <!-- List item for the form feature -->
            <li>Notification to let people know if there is a competition</li> <!-- List item for the notification feature -->
        </ul>
        <!-- Back link to navigate to the facilitate page -->
        <a href="/" class="btn btn-primary">Back to Home</a> <!-- Link to go back to the homepage -->
    </div>
</main>
{% endblock %}