{% extends "base.html" %}
{% block head %}
<h1>Edit Artist Contract</h1>
{% endblock %}
{% block content %}
<form method="POST">
    <input type="text" name="contract_name" value="{{ contract.name }}" required>
    <input type="email" name="email" value="{{ contract.email }}" required>
    <input type="text" name="venue_location" value="{{ contract.venue_location }}" required>
    <input type="text" name="country" value="{{ contract.country }}" required>
    <input type="text" name="phone_number" value="{{ contract.phone_number }}" required>
    <button type="submit">Save Changes</button>
</form>
{% endblock %}
