{% extends "base.html" %}
{% block head %}
<h1>Audition Form</h1>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form action="/form" method="POST" enctype="multipart/form-data">
        <label for="name" class="form-label">Name:</label>
        <div class="display-4 text-center mb-6">
        <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <label for="email" class="form-label">Email:</label>
        <div class="display-4 text-center mb-6">
        <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <label for="birth_date" class="form-label">Birth Date:</label>
        <div class="display-4 text-center mb-6">
        <input type="date" class="form-control" id="birth_date" name="birth_date" required>
        </div>
        <label for="nationality" class="form-label">Nationality:</label>
        <div class="display-4 text-center mb-6">
        <input type="text" class="form-control" id="nationality" name="nationality" required>
        </div>
        <label for="gender" class="form-label">Gender:</label>
        <div class="display-4 text-center mb-6">
        <select id="gender" name="gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        </div>
        <label for="height" class="form-label">Height (cm):</label>
        <div class="display-4 text-center mb-6">
        <input type="number" class="form-control" id="height" name="height">
        </div>
        <label for="weight" class="form-label">Weight (kg):</label>
        <div class="display-4 text-center mb-6">
        <input type="number" class="form-control" id="weight" name="weight">
        </div>
        <label for="sms" class="form-label">SMS/Contact:</label>
        <div class="display-4 text-center mb-6">
        <input type="text" class="form-control" id="sms" name="sms">
        </div>
        <label for="introduction" class="form-label">Introduction:</label>
        <div class="display-4 text-center mb-6">
        <textarea class="form-control" rows="5" id="introduction" name="introduction"></textarea>
        </div>
        <label for="file" class="form-label">Upload Video/Sound:</label>
        <div class="display-4 text-center mb-6">
        <input type="file" class="form-control" id="file" name="file" accept="video/*,audio/*">
        </div>
        <p>By clicking the <strong>Submit</strong> button, you agree to our <a href="/terms" target="_blank">Terms and Agreement</a>.</p>
        <div class="display-4 text-center mb-6">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
