<!DOCTYPE html>
<html>
<head>
    <title>Audition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        a { padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; }
    </style>
</head>
<body>
    <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('sustainability') }}">Sustainability</a></li>
                <li><a href="{{url_for('form_audition') }}">Audition</a></li>
                <li><a href="{{url_for('course_selection') }}">Courses</a></li>
                <li><a href="{{url_for('competition') }}">Competition</a></li>
                <li><a href="{{url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    <h1>Audition</h1>
    <p>Find Talent, Further Your Music Career, Soar Higher</p>
    <a href="/form">Apply Now</a>
</body>
</html>
