{% extends "base.html" %}
{% block head %}
<h1>Audition</h1>
{% endblock %}
{% block content %}
    <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('sustainability') }}">Sustainability</a></li>
                <li><a href="{{url_for('form_audition') }}">Audition</a></li>
                <li><a href="{{url_for('course_selection') }}">Courses</a></li>
                <li><a href="{{url_for('competition') }}">Competition</a></li>
                <li><a href="{{url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    <h1>Audition</h1>
    <p>Find Talent, Further Your Music Career, Soar Higher</p>
    <a href="/form">Apply Now</a>
{% endblock %}
