{% extends "base.html" %}
{% block head %}
<h1>Login</h1>
{% endblock %}
{% block content %}
    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required>

                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </main>
{% endblock %}
