<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/Styles.css">
</head>
<body>
    <header>
        <h1>Harmonique Login</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('sustainability') }}">Sustainability</a></li>
                <li><a href="{{url_for('form_audition') }}" class="active">Audition</a></li>
                <li><a href="{{url_for('course_selection') }}">Courses</a></li>
                <li><a href="{{url_for('competition') }}">Competition</a></li>
                <li><a href="{{url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('login') }}" class="active">Login</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required>

                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </main>

    <footer>
    <p>&copy; 2024 Harmonique. All Rights Reserved.</p>
</footer>
</body>
</html>
