{% extends "base.html" %}
{% block head %}
<h1>Register</h1>
{% endblock %}
{% block content %}
    <main>
        <h2>Create a New Account</h2>
        <form method="post" action="{{ url_for('register') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
                {% if errors.get('username') %}
                <p class="error-message">{{ errors['username'] }}</p>
                {% endif %}
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                {% if errors.get('password') %}
                <p class="error-message">{{ errors['password'] }}</p>
                {% endif %}

            <button type="submit">Register</button>
        </form>
    </main>
{% endblock %}
