{% extends "base.html" %}
{% block head %}
<h1>Terms and Condition</h1>
{% endblock %}
{% block content %}
<main>
        <p>By signing up for this audition, you agree to the following terms:</p>
        <ul>
            <li>All submissions become the property of the company.</li>
            <li>Applicants must be 18 years or older or have parental consent.</li>
            <li>Submissions must not violate any copyright laws.</li>
            <li>All decisions made by the audition committee are final.</li>
        </ul>
        <a href="/form">Go Back to Form</a>
    </div>
</main>
{% endblock %}
